body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(231, 202, 164);
  }
  
  .container {
    display: grid;
    grid-template-areas:
      "header header header"
      "nav article aside"
      "footer footer footer";
    grid-template-columns: 1fr 3fr 1fr;
  }
  
  .header {
    grid-area: header;
    background-color:  #05ab6b; 
    color: white;
    margin: 30px;
    padding: 10px; 
    border-radius: 15px; 
  }
  
  .nav {
    grid-area: nav;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .article {
    grid-area: article;
    padding: 20px;
    text-decoration: none;
  }

  .article a { 
    color:black
  }
  
  .aside {
    grid-area: aside;
    background-color: rgb(50, 164, 231);
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    height: 500px;
    color: white;
  }
  
  .footer {
    grid-area: footer; 
    color: #333; 
    text-align: center;
    padding: 10px;
    border: 1px solid #000000; 
    border-radius: 5px;
    margin: 30px;
  }
  
  #menulist {
    list-style-type: none;
    padding: 0;
  }
  
  .menuitem a {
    display: block;
    border: 1px solid;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    padding: 5px;
    margin: 5px 0;
    transition: background-color 0.3s ease;
  }
  
  .menuitem a:hover {
    background-color: #aaa;
  }
   
  .active a:hover {
    background-color: #aaa;
  }
  .nav ul li a.active {
    background-color: #05ab6b;
    color: white;
   }

   /* Tablet */
@media (max-width:768px) {

  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(231, 202, 164);
  }
  
  .container {
    display: grid;
    grid-template-areas:
    "header header header header"
    "nav article article article "
    "aside aside aside aside"
    "footer footer footer footer";
    grid-template-columns: 1fr 3fr 1fr;
  }
  
  .aside {
    grid-area: aside;
    background-color: rgb(50, 164, 231);
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    height: 100px;
    color: white;
  }
  }
  
  /* Mobile */
  @media (max-width:600px) {
  
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: rgb(231, 202, 164);
    }
    
    .container {
      display: grid;
      grid-template-areas:
     "header header header header"
      "nav nav nav nav  "
      "article article article article"
      "footer footer footer footer";
      grid-template-columns: 1fr 3fr 1fr;
    }
    
    .header {
      grid-area: header;
      background-color:  #05ab6b; 
      color: white;
      margin: 30px;
      padding: 10px; 
      border-radius: 15px; 
    }
    
    .aside {
      display: none;
    }
  }